body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F4F4F9;
}

h1 {
    text-align: center;
    color: #740938;
    margin-bottom: 20px;
}

#container {
    display: flex;
    gap: 20px;
    align-items: center; 
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
    background-color: #FFFFFF;
    padding: 20px;
    border: 2px solid #AF1740;
    border-radius: 10px;
}

#display {
    grid-column: span 4;
    height: 50px;
    font-size: 20px;
    text-align: right;
    padding: 10px;
    border: 2px solid #CC2B52;
    border-radius: 5px;
}

button {
    padding: 15px;
    font-size: 18px;
    background-color: #AF1740;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #CC2B52;
}

button:active {
    background-color: #DE7C7D;
}

#image-container img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
